.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}
.headingLg {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.4;
}
.padding1px {
  padding-top: 1px;
}
.list {
}
.textBold {
  font-weight: bold;
}
